@import "../../../styles/global";

#vue {

    .vue-header {
        line-height: 1;
        border-bottom: 1px solid #e5e5e5;
    }

    .vue-header-logo {
        font-family: "Playfair Display", Georgia, "Times New Roman", serif;
        font-size: 2.25rem;
    }

    .vue-header-logo:hover {
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    }

    .display-4 {
        font-size: 2.5rem;
    }
    @media (min-width: 768px) {
        .display-4 {
            font-size: 3rem;
        }
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .nav-scroller .nav-link {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: .875rem;
    }

    .card-img-right {
        height: 100%;
        border-radius: 0 3px 3px 0;
    }

    .flex-auto {
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }

    .h-250 {
        height: 250px;
    }
    @media (min-width: 768px) {
        .h-md-250 {
            height: 250px;
        }
    }

    .border-top {
        border-top: 1px solid #e5e5e5;
    }
    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    /*
     * Vue name and description
     */
    .vue-title {
        margin-bottom: 0;
        font-size: 2rem;
        font-weight: 400;
    }
    .vue-description {
        font-size: 1.1rem;
        color: #999;
    }

    @media (min-width: 40em) {
        .vue-title {
            font-size: 3.5rem;
        }
    }

    /* Pagination */
    .vue-pagination {
        margin-bottom: 4rem;
    }
    .vue-pagination > .btn {
        border-radius: 2rem;
    }

    /*
     * Vue posts
     */
    .vue-post {
        margin-bottom: 4rem;
    }
    .vue-post-title {
        margin-bottom: .25rem;
        font-size: 2.5rem;
    }
    .vue-post-meta {
        margin-bottom: 1.25rem;
        color: #999;
    }

}