<section id="vue">
  <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/AngularJS_logo.svg" class="angular-logo" />
  <div class="container">

    <div class="row mb-2">
      <div class="col-12">

        <form novalidate ng-submit="vue.searchGiphy()" autocomplete="off" class="form-inline justify-content-center">
          <div class="form-group mr-2 mb-2 text-center">
            <input type="text" class="form-control" id="search" placeholder="Type something..." ng-model="giphy.search">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Search Giphy</button>
        </form>

        <div class="vue-world mt-4">
          <giphy-container giphy-data="vue.$scope.giphy.result" class="vue-border" />
        </div>
          
      </div>
    </div>
  </div>
</section>
