<template>
	<div>
		<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Vue.js_Logo_2.svg" class="vue-logo" />
		<h4>Giphy Container</h4>
		<div class="d-flex flex-wrap justify-content-between">
			<giphy-image
				:key="giphy.id"
				v-for="giphy in giphyDataWithLoadingStatus"
				:gif="giphy.images.fixed_height.url"
				:still="giphy.images.fixed_height_still.url"
				:isAnimating="giphy.isAnimating"
				@click.native="toggleAnimating(giphy.id)"
				class="vue-border pointer mb-3"
			/>
		</div>
	</div>
</template>

<script>
import GiphyImage from './GiphyImage.vue';

export default {
	name: 'GiphyContainer',
	data: () => ({
		animatingKey: '',
	}),
	computed: {
		giphyDataWithLoadingStatus () {
			return this.giphyData.map((giphy) => {
				if (giphy.id === this.animatingKey) {
					giphy.isAnimating = true;
				} else {
					giphy.isAnimating = false;
				}
				return giphy;
			})
		}
	},
	methods: {
		toggleAnimating (id) {
			if (this.animatingKey === id) {
				this.animatingKey = '';
			} else {
				this.animatingKey = id;
			}
		}
	},
	components: {
		GiphyImage,
	},
	props: {
		giphyData: Array,
	},
};
</script>
