<template>
	<img v-if="isAnimating" :src="gif" />
    <img v-else :src="still" />
</template>

<script>

export default {
	name: 'GiphyImage',
	data: () => ({}),
	methods: {},
	props: {
        gif: String,
        still: String,
        isAnimating: Boolean,
	},
};
</script>
