<template>
	<div>
		<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Vue.js_Logo_2.svg" class="vue-logo" />
		<h1>Hello World</h1>
		<hello-child :childName="childName" class="vue-border"></hello-child>
	</div>
</template>

<script>
import HelloChild from './HelloChild.vue';

export default {
	name: 'HelloWorld',
	data: () => ({}),
	methods: {},
	components: {
		HelloChild,
	},
	props: {
		childName: String,
	},
};
</script>
