<template>
	<div>
		<h1>Hello Child</h1>
		<p>Pass me a child named {{ childName }}</p>
	</div>
</template>

<script>
export default {
	name: 'HelloChild',
	props: {
		childName: String,
	},
	data: () => ({}),
	methods: {}
};
</script>

