@import "global";
@import "bootstrap";
@import "font-awesome";


/* Tweaks
-------------------------------------------------- */
html {
    overflow-y: scroll;
}


/* Optimize margins
-------------------------------------------------- */
ol,
ul,
dl {
    margin-bottom: 2rem;
}


/* Fixed Navbar
-------------------------------------------------- */
body,
html {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    padding: 0
}

body {
    padding-top: 4.1rem;
    padding-bottom: 3.5rem
}

.fixed-top {
    min-height: 4.1rem;
}


/* Sticky footer
-------------------------------------------------- */
$footer-height: 3.5rem;

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height; /* Vertically center the text there */
    background-color: $gray-200;

    p {
        margin: 0;
    }

    .to-top {
        font-size: $small-font-size;
    }
}

.main {
    padding: 0 0 20px 0;
    border: 3px solid red;
    min-height: 100%;
}

.angular-logo, .vue-logo {
    margin: 20px;
    max-height: 60px;
    max-width: 150px;
}

.vue-border {
    border: 3px solid green;
    padding: 20px;
}

.pointer {
    cursor: pointer;
}